<div id="log-in">
<h1>Log In</h1>

<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag :email %><br />
    <%= text_field :email, params[:email], placeholder: 'email' %>
  </div>
  <div class="field">
    <%= label_tag :password %><br />
    <%= password_field :password, placeholder: 'password' %>
  </div>
  <div class="actions"><%= submit_tag "Log In", class: "btn btn-primary" %></div>
<% end %>
</div>

