<h1>Articles</h1>
<hr />

<%= link_to 'New article', new_article_path %>

  <% @articles.order(created_at: :desc).each do |article| %>
 

    <h2><%= link_to article.title, article_path(article) %></h2>
      <%= sanitize article.text %><br />
      <%= link_to 'Edit', edit_article_path(article) %>
      <%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
              <hr />
    
  <% end %>


<br />
<%= link_to 'New article', new_article_path %>