<% content_for :title, @article.title %>
<% content_for :meta_description, @article.meta_description %>

<p>
  <strong>Title:</strong>
  <%= sanitize @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= sanitize @article.text %>
</p>

<p>
	<b>article.user_id =</b>
	<%= @article.user_id.inspect %><br />
	<b>current_user.id =</b>
	<% if current_user %>
		<%= current_user.id.inspect %><br />
	<% end %>
	<b>article.meta_description =</b>
	<%= @article.meta_description.inspect %><br />
</p>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Back', articles_path %> |
<%= link_to 'Edit', edit_article_path(@article) %>