<!DOCTYPE html>
<html>
	<head>
	  <title>chrisrjones.com</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= javascript_include_tag "public" %>
	  

	  <!-- Ruby code to add favicon to website -->
	  <%= favicon_link_tag 'favicon.ico' %>
	</head>
	<body>
		<div id="wrap">
			<div id="nav_100_width">
				<!-- put navbar outside of container to get 100% width -->
			<%= render 'layouts/nav' %>
			</div>
			<div class="container">
			
  		

  		<%= yield %>
			  
		</div>  
		<!-- need to figure out a way to insert a footer, i.e. one that sticks
		to the bottom of the web page -->
			<div id="push"></div>
    	</div>
		<div id="footer">
      		<div class="container">
        	<p class="muted credit"><id="copyright">&copy; chrisrjones.com / Chris Jones</p>
      		</div>

    	</div>

	</div> <!-- wrap div -->
	<%= render 'layouts/footer' %>
	</body>
</html>
