<!DOCTYPE html>
<html>
  <head>
    <title>chrisrjones.com <%= yield(:title) %></title>
    <meta name="description" content="<%= yield(:meta_description) %>">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="initial-scale=1.0">
  </head>
  <body>
    <div id="wrap">
      <div id="nav_100_width">
        <!-- put navbar outside of container to get 100% width -->
        <%= render 'layouts/nav' %>
      </div>
      <div class="container">
        <%= yield %>
      </div>
        <div id="push"></div>
    </div>
    <div id="footer">
      <div class="container">
        <p class="muted credit"><id="copyright">&copy; 2019 chrisrjones.com / Chris Jones</p>
      </div>
    </div> <!-- footer -->
    </div> <!-- wrap div -->
    <%# <%= render 'layouts/footer' %1> %>
  </body>
</html>
