<!DOCTYPE html>
<html>
	<head>
	  <title>chrisrrjones.com</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= javascript_include_tag "public" %>
	  

	  <!-- Ruby code to add favicon to website -->
	  <%= favicon_link_tag 'favicon.ico' %>
	</head>
	<body>
		<div class="container">
		

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Some Store</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Browse Products", products_path %></li>
          <li><%= link_to "Price List" %></li>
          <li><%= link_to "Contact Us" %></li>
          <li><%= link_to "Cart" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>


		<!-- before yield -->
		<%= yield %>
		<!-- after yield -->
	</div>
	</body>
</html>
