<!DOCTYPE html>
<html>
  <head>
    <title>chrisrjones.com <%= yield(:title) %></title>
    <meta name="description" content="<%= yield(:meta_description) %>">
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "modern-normalize", media: "all" %>
    <%#%>
    <%= stylesheet_link_tag "navbar", media: "all" %>
    <%= javascript_include_tag "navbar" %>

    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="initial-scale=1.0">
    <% if Rails.env.production? %>
      <%= render "shared/gtag" %>
    <% end %>
  </head>
  <body>
    <div id="wrap">
        <!-- put navbar outside of container to get 100% width -->
        <%# <%= render 'layouts/nav_nobs' %>
        <%= render 'layouts/nav' %>
      </div>
      <div class="container">
        <%= yield %>
        <div id="push"></div>
    </div>
    <div id="footer">
      <div class="container">
        <p class="muted credit"><id="copyright">&copy; 2019 chrisrjones.com / Chris Jones</p>
        <% if ENV['DOCKER_ENV'] == 'true' %>
          <% redis = Redis.new(host: "redis", port: 6379) %>
          <% redis.incr "page hits" %>
          <% @page_hits = redis.get "page hits" %>
          <p>This site has been viewed <%= @page_hits %> times</p>
        <% end %>
      </div>
    </div> <!-- footer -->
    </div> <!-- wrap div -->
  </body>
</html>
