<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>chrisrjones.com<%= " | #{@page_title} " if @page_title %></title>
		<%= stylesheet_link_tag('application', :media => 'all') %>
		<%= javascript_include_tag('application') %>
	</head>
	<body>
		<div id="header">
			<h1>chrisrjones.com</h1>
		</div>
		<div id="main">
			<div id="navigation">
				<%= render(:partial => 'layouts/navigation', :locals => {:subjects => @subjects}) %>
			</div>
			<div id="content">
				<%= yield %>
			</div>
		</div>
		<div id="footer">
			<p id="copyright">&copy; chrisrjones.com / Chris Jones</p>
		</div>
		<%= render "shared/footer"%>
	</body>
</html>